@model BlazorApp1.Shared.Block

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Block</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SealFields)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SealFields)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nonce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nonce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sha3Uncles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sha3Uncles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogsBloom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogsBloom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionsRoot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionsRoot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateRoot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateRoot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptsRoot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiptsRoot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDifficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDifficulty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MixHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MixHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GasLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GasLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GasUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GasUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uncles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uncles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseFeePerGas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseFeePerGas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BlockId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
