@model BlazorApp1.Shared.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GasPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GasPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxFeePerGas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxFeePerGas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPriorityFeePerGas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPriorityFeePerGas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Input)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Input)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nonce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nonce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.R)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.R)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.S)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.S)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.V)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.V)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
